<div class="row">

  <div class="col-sm-12 text-center">

    <br>
    <h3>Registro de nuevo usuario</h3>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur molestiae doloremque, qui tempore magni libero reiciendis veniam facere quibusdam excepturi, accusamus harum architecto ducimus, aut repellendus voluptate fuga fugit cumque.</p>

  </div>

</div>

<div class="section-separator"></div>

<div class="row">

  <div class="col-sm-12 text-center">

    <div class="row">

      <div class="col-sm-0 col-md-2"></div>

      <div class="col-sm-12 col-md-8">

        <h5>Lo que nos diferencia del resto:</h5>

        <app-customlist [itemsList]="advantagesList"></app-customlist>

      </div>

      <div class="section-separator"></div>

    </div>

    <button [routerLink]="'user-data'" class="btn btn-primary btn-block">Quiero asegurar mi auto ></button>

  </div>

</div>

<div class="section-separator"></div>

<div class="row">

  <div class="col-sm-12 text-center">

    <h4>¿Por qué asegurar tu vehículo con nosotros?</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur molestiae doloremque, qui tempore magni libero reiciendis veniam facere quibusdam excepturi, accusamus harum architecto ducimus, aut repellendus voluptate fuga fugit cumque.</p>

    <div class="section-separator"></div>

    <h4>Nuestros servicios nos diferencian de la competencia</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur molestiae doloremque, qui tempore magni libero reiciendis veniam facere quibusdam excepturi. </p>
    <p> Accusamus harum architecto ducimus, aut repellendus voluptate fuga fugit cumque.</p>

  </div>

</div>
