<div class="row">
  <div class="col-sm-12 text-center section-title">
    <h3>Resumen:</h3>
    <hr>
  </div>
</div>
<div class="row summary-inner-cont">
  <div class="col-sm-12">
    <h5 class="summary-innertitle">Datos personales</h5>
    <br>
  </div>
  <div class="col-sm-12 col-lg-6">
    <p><span class="summary-item">Nombre:  </span>{{ (summary.nombre != null && summary.nombre != '') ? summary.nombre : 'No completado' }} </p>
    <p><span class="summary-item">Apellido: </span>{{ (summary.apellido != null && summary.apellido != '') ? summary.apellido : 'No completado' }} </p>
    <p><span class="summary-item">DNI: </span>{{ (summary.documento != null && summary.documento != 0) ? summary.documento : 'No completado' }} </p>
    <p><span class="summary-item">Fecha de nacimiento: </span>{{ (summary.nacimiento != null && summary.nacimiento != '') ? summary.nacimiento : 'No completado' }} </p>
    <p><span class="summary-item">Email: </span>{{ (summary.email != null && summary.email != '') ? summary.email : 'No completado' }} </p>
  </div>
  <div class="col-sm-12 col-lg-6">
    <p><span class="summary-item">Teléfono móvil:  </span>{{ (summary.numMobile != null && summary.numMobile !=  0) ? summary.numMobile : 'No completado' }} </p>
    <p><span class="summary-item">Teléfono fijo: </span>{{ (summary.numPhone != null && summary.numPhone != 0) ? summary.numPhone : 'No completado' }} </p>
    <p><span class="summary-item">Provincia: </span>{{ (summary.provincia.nombre != null && summary.provincia.nombre != '') ? summary.provincia.nombre : 'No completado' }} </p>
    <p><span class="summary-item">Localidad: </span>{{ (summary.ciudad.nombre != null && summary.ciudad.nombre != '') ? summary.ciudad.nombre : 'No completado' }} </p>
    <p><span class="summary-item">Dirección: </span>{{ (summary.direccion != null && summary.direccion != '') ? summary.direccion : 'No completado' }} </p>
  </div>
  <div class="col-sm-12">
    <p><span class="summary-item">Nombre de usuario: </span>{{ (summary.usuario != null && summary.usuario != '') ? summary.usuario : 'No completado' }} </p>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <button type="button" [routerLink]="'../user-data'" class="btn btn-block btn-secondary">< Cambiar datos personales</button>
  </div>
</div>
<div class="row summary-inner-cont">
  <div class="col-sm-12">
    <h5 class="summary-innertitle">Datos del vehículo</h5>
    <br>
  </div>
  <div class="col-sm-6 text-left">
    <p><span class="summary-item">Marca: </span>{{ (summary.marca.desc != null && summary.marca.desc != '') ? summary.marca.desc : 'No completado' }} </p>
    <p><span class="summary-item">Año de fabricación: </span>{{ (summary.year != null && summary.year != 0) ? summary.year : 'No completado' }} </p>
  </div>
  <div class="col-sm-6 text-left">
    <p><span class="summary-item">Modelo: </span>{{ (summary.modelo != null && summary.modelo != '') ? summary.modelo : 'No completado' }} </p>
    <p><span class="summary-item">Versión: </span>{{ (summary.version.desc != null && summary.version.desc != '') ? summary.version.desc : 'No completado' }} </p>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <button type="button" [routerLink]="'../vehicle-data'" class="btn btn-block btn-secondary">< Cambiar datos del vehículo</button>
  </div>
</div>
<div class="row summary-inner-cont">
  <div class="col-sm-12">
    <h5 class="summary-innertitle">Póliza elegida</h5>
    <br>
  </div>
  <div class="col-sm-6 text-left">
    <p><span class="summary-item">Tipo: </span>{{ (summary.poliza != null && summary.poliza != '') ? summary.poliza : 'No completado' }} </p>
    <p><span class="summary-item">Cubre contra granizo: </span>{{ (summary.granizo != false) ? 'Si' : 'No' }} </p>
  </div>
  <div class="col-sm-6 text-left">
    <p><span class="summary-item">Final por mes: </span>{{ (summary.costo != null && summary.costo != '') ? summary.costo : 'No completado' }} </p>
    <p><span class="summary-item">Valor de la franquicia: </span>{{ (summary.franquicia != 0) ? summary.franquicia : 'No posee' }} </p>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <button type="button" [routerLink]="'../product-data'" class="btn btn-block btn-secondary">< Cambiar póliza</button>
  </div>
</div>


<hr>
<div class="row">
  <div class="col-sm-12">
    <button type="button" (click)="submitAll()" class="btn btn-block btn-primary">Enviar datos ></button>
  </div>
</div>
