.form-label {
  font-size:14px;
  color:rgb(54, 54, 54);
  font-weight: 700;
}

.form-label-detail {
  font-size: 10px;
  color:rgb(151, 89, 89);
}

.control-5 {
  width:5%;
  display: inline-block;
  text-align:center;
}

.control-20 {
  width:20%;
  display: inline-block;
}

.control-75 {
  width:75%;
  display: inline-block;
}

.control-50 {
  width:50%;
  display: inline-block;
}

.control-30 {
  width:30%;
  display: inline-block;
}

.loader {
  color: grey;
}
