.hero-container {
  height: 50vh;
  width:100%;
  padding-left:0;
  padding-right:0;
}

.hero-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  padding-left: 10vw;
  color: white;
}
