<div class="row">

  <div class="col-sm-12 hero-container">

    <div class="hero-image" [ngStyle]="{'background-image': 'linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)),url('+imgUrl+')'}">
      <div class="hero-title">

        <div class="row">

          <div class="col-sm-12 col-lg-6 text-left">

            <h1>{{ sectionTitle }}</h1>

            <br>

            <p>{{ sectionDescription }}</p>

          </div>
        </div>

      </div>

    </div>

  </div>

</div>
