/* You can add global styles to this file, and also import other style files */
.error-input {
  font-size: 11px;
  color:red;
}
.input-info {
  font-size:11px;
}
.section-title {
  padding: 20px 0 30px;
}
