<div class="row">
  <div class="col-sm-12">
    <div class="card" [ngClass]="selected === productData.codigoProducto ? 'selected' : ''">
      <div class="card-header">
        {{ productData.titulo }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ productData.puntaje }} puntos</h5>
        <p class="card-text">{{ productData.descripcion }}</p>
        <p *ngIf="productData.granizo == true">Posee cobertura contra granizo</p>
        <p>Costo final por mes: ${{ productData.costo }}</p>
        <button (click)="selectProduct(productData)"

         class="btn btn-primary"
         [value]="productData.codigoProducto"
         >Elegir cobertura ></button>

      </div>
    </div>
  </div>
</div>
